Flask
Flask-Cors
gunicorn
tensorflow
numpy
pandas
scikit-learn
h5py
absl-py
asgiref
astunparse
certifi
charset-normalizer
colorama
contourpy
cycler
ensembleev1
flatbuffers5
fonttools
gast
google-pasta
grpcio
h5py
idnaniconfig
joblib
keras
kiwisolver
libclang
lxml
Markdownarkdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mlxtend
namex
numpy
opt-einsum
optree
package-nameackagingandas
pillow
pluggy
protobuf
Pygments
pyparsing
PyPrind
pysutytest
python-dateutil
pytzost1
requests
rich
scikit-learn
scipy
seaborn
six
sqlparse
stats-arrays
tensorboard
tensorboard-data-server
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdatarllib3
Werkzeug
wrapt